table {
    width: 100%;
    border: solid 1px black;
}
tr:first-child {
    background-color: gray;
    color:white;
}
tr {background-color: lightgray;}
tr:nth-child(even) {background-color: #e9e8e8;}